* {
  box-sizing: border-box;
}

nav,
main,
footer,
div,
section {
  margin: 0;
  padding: 0;
}

body {
  background: #e6ddd0 url("images/flower.jpg") no-repeat right top;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.navbar {
  background-color: #402608;
}

.nav-item {
  margin: 10px 20px;
  text-align: center;
}

.logo {
  margin: 0 20px;
  width: 217px;
  height: 60px;
  background: url("./images/logo.png") center center/cover;
  list-style: none;
}

.nav-link {
  color: #e6ddd0;
}

.nav-link:hover {
  color: #d6ad60;
}

main {
  margin: 30px auto;
}

.class-item {
  padding: 20px;
  text-align: center;
}

.btn-primary {
  background-color: #402608;
  border-color: #402608;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #d6ad60;
  border-color: #402608;
}

footer {
  border-top: 1px solid #333;
}

.license {
  margin: 30px auto;
}

img {
  width: 100%;
}

.like {
  color: grey;
}

.liked {
  color: red;
}

.meal p {
  margin: 0;
  font-size: 1.5rem;
}

.mod-content {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
}

.mod-image {
  text-align: center;
}

.mod-image img {
  border: 5px solid #402608;
  border-radius: 10px;
}

.mod-title {
  text-align: center;
  padding: 20px 0;
}

.mod-details > * {
  padding-top: 10px;
}

.mod-instructions {
  margin: 0;
  padding: 0 10px;
}

.mod-comment-head,
.mod-form-head {
  padding: 30px 0 20px 0;
  text-align: center;
  font-size: 1.5rem;
}